@import "npm:@wcag-ui/foundations";
@import "npm:@wcag-ui/grid-system";
@import "npm:@wcag-ui/iconography";
@import "npm:@wcag-ui/typography";
@import "npm:@wcag-ui/accordion/accordion.min.css";
@import "npm:@wcag-ui/button/button.min.css";
@import "npm:@wcag-ui/checkbox/checkbox.min.css";
@import "npm:@wcag-ui/details/details.min.css";
@import "npm:@wcag-ui/dialog/dialog.min.css";
@import "npm:@wcag-ui/input/input.min.css";
@import "npm:@wcag-ui/radio/radio.min.css";
@import "npm:@wcag-ui/scroll-spy/scroll-spy.min.css";
@import "npm:@wcag-ui/select/select.min.css";
@import "npm:@wcag-ui/switch/switch.min.css";
@import "npm:@wcag-ui/tooltip/tooltip.min.css";
@import "npm:@wcag-ui/textarea/textarea.min.css";
@import "npm:@wcag-ui/tree-view/tree-view.min.css";

@import "./_code.css" layer(wcag-ui-docs.code);
@import "./layout/layout.css" layer(wcag-ui-docs.layout);
@import "./pages/pages.css" layer(wcag-ui-docs.pages);

/* :root {
  transition: color 350ms ease-in-out, background-color 275ms ease-in-out;
} */

@view-transition {
  /* biome-ignore lint/correctness/noUnknownProperty: Exists in the CSS spec */
  navigation: auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--docs--header--min-height);
}

[is="wcag-scroll-spy"] {
  top: var(--docs--header--min-height);
}

p:has(button) {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;

  place-content: start;
  place-items: center;
}
