@import "npm:@wcag-ui/foundations";
@import "npm:@wcag-ui/grid-system";
@import "npm:@wcag-ui/iconography";
@import "npm:@wcag-ui/typography";

@import "npm:@wcag-ui/details/lib/styles/details.css";
@import "npm:@wcag-ui/tooltip/lib/styles/tooltip.css";

@import "./_code.css" layer(wcag-ui-docs.code);
@import "./layout/layout.css" layer(wcag-ui-docs.layout);
@import "./pages/pages.css" layer(wcag-ui-docs.pages);

/* :root {
  transition: color 350ms ease-in-out, background-color 275ms ease-in-out;
} */

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--docs--header--min-height);
}

[is="wcag-scroll-spy"] {
  top: var(--docs--header--min-height);
}

p:has(button) {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;

  place-content: start;
  place-items: center;
}
